<!DOCTYPE html>
<html>
<head>
    <title>WebSS - Jaguar APIs</title>
    <link rel="icon" href="https://te.legra.ph/file/a8d094af811e3f778135a.jpg" type="image/x-icon">
</head>

<body>
    <h1 style='color: black;'><code><u>Web Screenshot API</u></code></h1>
    <h3><code>Welcome to our api server!</code></h3>     
    <p>
        <h3><code>Parameters: /urlHere to generate screenshot of website.<br>
	URL should not contain https:// <br>
	Eg: To get screenshot of google.com: https://jewebss.herokuapp.com/google.com</code></h3>
    </p>
    
</body>
</html>
